@tailwind base;
@tailwind components;
@tailwind utilities;

.font-serif {
  font-family: "Fraunces", serif;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
